/*---------Toutes les pages---------*/
.primary-color {
    background-color: #540606!important;
}

.secondary-color {
    color: #c2a2a2!important;
}

body {
	margin: 0;
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
    background: 
      radial-gradient(rgba(254, 216, 216, 0.844) 3px, transparent 4px),
      radial-gradient(rgb(174, 172, 172) 3px, transparent 4px),
      linear-gradient(#fff 4px, transparent 0),
      linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
      linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
    #fff;
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  }


.navbar-light .navbar-toggler {
    border-color: #f8f9fa;
    background-color: #ffffff4a;
}
/*---------footer---------*/

.text-light {
    FONT-SIZE: smaller;
}

.list-unstyled {
    font-size: O.5em;
}

footer h4 {
    font-size: 1.2em;
}

/*---------index---------*/

.secondTitle {
    z-index: 1;
    position: absolute;
    text-align: center;
    width: 100%;
    padding-top: 13px;
    mix-blend-mode: overlay;
  }

.card div {
    overflow: hidden;
}

#boxListingTeddy {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.linkTeddy {
    color: #540606;
    text-decoration: none;
    display:contents;
}

#carouselExampleControls {
border-bottom:10px solid #540606;
}

.espace {
    margin: 0.5em;
    padding: 6px;
    overflow: hidden;
    width: 44%;
}

.zoom img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: 1s ease-in-out;
	transition: 1s ease-in-out;
    overflow: hidden;
}

.zoom:hover img {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
    overflow: hidden;
}

@media only screen and (max-width: 375px) {
    .espace {
        width: 100%;
    }   }

    /*---------produit---------*/

.col-8 .card {
    margin-top: 10px;
}

#nom_produit {
    font-size: large;
    font-weight: 900;
    font-size: 2em;
}

#prix_produit {
    font-size: large;
    font-weight: 900;
    color: #fff;
    background-color: #540606;
    width: fit-content;
    padding: 0.4em;
    border-radius: 1em;
}

#btn_ajout_panier, #btn_aller_panier {
    color: #fff;
    background-color: #540606;
    border-color: #540606;
    margin: 10px;
    width: 100%;
}

@media only screen and (max-width: 570px) {
    #imageTeddie, #descriptionTeddie {
        width: 100%;
    }   }


/*---------panier---------*/
#main_panier h2 {
    margin-top: 1em;
}

#panier .card {
    flex-direction: row;
    margin: 23px;

}

#panier img {
    width: 200px;
    margin-right: 10px;
    object-fit: cover;
}

#formulaire_contact input {
    width: 100%;
}

#montantTotal {
    color: #fff;
    background-color: #540606;
    width: fit-content;
    padding: 0.4em;
    border-radius: 1em;
    margin: auto;
}

#confirmPanier {
    font-size: large;
    font-weight: 900;
    color: #fff;
    background-color: #540606;
    width: fit-content;
    padding: 0.4em;
    border-radius: 1em;
    margin: 1em;
    width: -webkit-fill-available;
}

/*---------confirmation---------*/

#container-recapitulatif-commande h2 {
    font-weight: bold;
}

.gras {
    font-weight: bold;
}

#container-recapitulatif-commande {
padding: 1em;
}

#montant {
    font-size: large;
    font-weight: 500;
    color: #fff;
    background-color: #540606;
    width: fit-content;
    padding: 0.4em;
    border-radius: 1em;
    margin: 1em;
    width: -webkit-fill-available;
    text-align: center;
}

#remerciment {
    font-size: large;
    font-weight: 500;
    color: #fff;
    background-color: #540606;
    width: fit-content;
    padding: 0.4em;
    border-radius: 1em;
    margin: 1em;
    width: -webkit-fill-available;
    text-align: center;
}